html, body {
    background-color: white;
    margin : 0;
    padding : 0;
}

.contents {
    width : 60%;
    min-width: 1120px;
    background-color: whitesmoke;
    margin : 20px auto 0 auto;
    border : 1px solid #000;
}

.container {
    max-width: 100%;
    margin : 0px auto 0px auto;
    /* min-width: ; */
}

fieldset {
    margin : 20px 25px;
    border : 1px solid #000;

}

legend {
    font-size : 15px;
    padding : 3px 6px;
    width : auto;
    font-weight: bold;
}


.filter-group {
    padding : 0 20px 10px 20px;
    min-width : 690px;
} 

.ct-value {
    width : 25% ;
    padding : 0px 2px;
    min-width: 195px;
}

.ct-value div {
    margin : 0px 5px;
    display: inline;
    
}

img {
    border : 1px solid #adadad;
    padding : 5px 5px 5px 5px;
    background-color: #e1e1e1;
    margin : 10px 10px 0 5px;
}


.label {
    width:100%;
    margin : 1px 0 0 0;
}

.name-box {
   margin: 45px 0;
}

.button-box {
    float: right;
    margin : 0 20%;
}

button {
    margin : 10px 6px;
}
.protocol-group {
    padding : 0 5px 10px 5px    
}

textarea {
    width: 100%;
}


