html, body {
    background-color: white;
    margin : 0;
    padding : 0;
}
div {
    margin : 0;
}
.contents {
    width : 50%;
    min-width: 720px;
    background-color: whitesmoke;
    margin :  20px auto 0 auto;
    border : 1px solid #000;
}

.container {
    max-width: 100%;
    margin : 0 auto;
}

fieldset {
    margin : 20px 25px;
    padding : 0px 10px 10px 10px;
    border : 1px solid #000;
}

legend {
    font-size : 15px;
    padding : 3px 6px;
    width : auto;
    font-weight: bold;
}

.manager-group {
    margin : 20px 20px 0 20px;
    padding : 0 3px 15px 3px;
    min-width: 640px;

}

.history-group {
    margin : 20px 20px 0 20px;
    padding : 0 3px 15px 3px;
    min-width: 640px;

}


#history-list {
    width : auto;
    padding : 0px;
    margin : 0;
}


.list-group {
    margin : 5px 15px;
    height: 120px;
    overflow-y: scroll;
    background-color: white;

} 

span {
    width : auto;
}


.list-group li {
    height: 30px;
    padding :3px 3px;
}
.button-box button{
    margin : 7px;
    width : 7rem;
    padding : 5px auto;
    text-align: center;
    align-items: flex-start;
}

#button-cancel {
   margin : 20px 35px 20px auto;
}
