<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Protocol Editor</title>

    <!-- jquery javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.css') }}">

    <!-- bootstrap javascript -->
    <script type="text/javascript" src="{{ url_for('static',  filename='lib/bootstrap/bootstrap.min.js') }}"></script>

    <!-- custom style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">

    <!-- custom script javascript   -->
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/protocol.js') }}"></script>

</head>

<body>
    <div class="contents">

        <!-- Protocol Header start -->
        <div class="contanier row ">

            <!-- Filter start -->
            <fieldset class="filter-group col-7">
                <legend>Filter(Label, CT)</legend>
                <div class="row">

                    <!-- FAM -->
                    <div class="ct-value col-sm row">
                        <!-- <div>
                            <span>FAM</span>
                            <input type="text" class="label" id="fam-subname"></input>
                        </div>
                        <div>
                            <img src="../res/fam.bmp" id="fam-img">
                            <input type="number" class="label" id="fam-threshold" min="0"></input>
                        </div> -->
                        <div class="col-1">
                            <div>FAM</div>
                            <img src="{{url_for('static', filename='res/fam.bmp')}}" id="fam-img"
                                onclick="filterEvent(this)">
                        </div>
                        <div class="col">
                            <input type="text" class="label" id="fam-name"></input>
                            <input type="number" class="label" id="fam-ct" min="0" step="0.1"></input>
                        </div>
                    </div>

                    <!-- HEX -->
                    <div class="ct-value col-sm row">
                        <div class="col-1">
                            <div>HEX</div>
                            <img src="{{url_for('static', filename='res/hex.bmp')}}" id="hex-img"
                                onclick="filterEvent(this)">
                        </div>
                        <div class="col">
                            <input type="text" class="label" id="hex-name"></input>
                            <input type="number" class="label" id="hex-ct" min="0" step="0.1"></input>
                        </div>
                    </div>

                    <!-- ROX -->
                    <div class="ct-value col-sm row">
                        <div class="col-1">
                            <div>ROX</div>
                            <img src="{{url_for('static', filename='res/rox.bmp')}}" id="rox-img"
                                onclick="filterEvent(this)">
                        </div>
                        <div class="col">
                            <input type="text" class="label" id="rox-name"></input>
                            <input type="number" class="label" id="rox-ct" min="0" step="0.1"></input>
                        </div>
                    </div>
                    <!-- CY5 -->
                    <div class="ct-value col-sm row">
                        <div class="col-1">
                            <div>CY5</div>
                            <img src="{{url_for('static', filename='res/cy5.bmp')}}" id="cy5-img"
                                onclick="filterEvent(this)">
                        </div>
                        <div class="col">
                            <input type="text" class="label" id="cy5-name"></input>
                            <input type="number" class="label" id="cy5-ct" min="0" step="0.1"></input>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- Filter end -->

            <!-- Protocol name start -->
            <div class="col">
                <div class="name-box">
                    <div>
                        <span class="text">Protocol Name : </span>
                        <input type="text" id="protocol-name"></input type="text" id="protocol-name">
                    </div>
                    <div class="button-box">
                        <button class="button" id="save-button" onclick="saveEvent()">Save</button>
                        <button class="button" id="cancel-button" onclick="toSetupPage()">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- Protocol name end -->
        </div>
        <!-- Protocol Header end -->

        <!-- Protocol contexts start -->
        <div class="contanier row justify-content-center">

            <!-- Protocol start-->
            <fieldset class="protocol-group col">

                <legend>Protocol</legend>
                <textarea id="protocol-text" cols="30" rows="10"
                    onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>

            </fieldset>
            <!-- Protocol end-->

            <!-- Magneto Protocol start -->
            <fieldset class="protocol-group col">
                <legend>Magneto Protocol</legend>
                <textarea id="magneto-text" cols="30" rows="10"
                    onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>
            </fieldset>
            <!-- Magneto Protocol end -->
        </div>
        <!-- Protocol contexts end -->

    </div>
    <script>
        $(document).ready(function () {
            loadConfig();
            init();
        })
    </script>

</body>

</html>