<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protocol Edit</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- bootstrap javascript -->
    <script type="text/javascript" src="{{ url_for('static',  filename='js/bootstrap.min.js') }}"></script>

    <!-- script javascript   -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/edit.js') }}"></script>
</head>


<body>


<div class="container">
    <div class="container-screen" id="screen-middle">
        <textarea rows="20" cols="20" id="text"
                  onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>
        <div>
            <input type="button" class="btn-group btn" value="save" onclick="protocolEdit()">
            <input type="button" class="btn-group btn btn-right" value="back" onclick="history.back()">
        </div>

    </div>

</div>

<script type="text/javascript">initialized()</script>

</body>
</html>