<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>index</title>


    <!-- bootstrap css -->
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel = "stylesheet" href = "//unpkg.com/bootstrap@3/dist/css/bootstrap.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!-- bootstrap javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="//unpkg.com/jquery@1/dist/jquery.min.js"></script>
    <!-- script javascript   -->
    <script  type="text/javascript" src="{{ url_for('static', filename= 'main.js')}}"></script>
</head>

<body>

  <div class="container" >
      <div class="container-screen">
          <!-- Top-->
          <div class="container">
            <!--Status Box (Grid)-->
              <div class="row">
                  <div class="col-xs-3" id="serial-number">
                    <fieldset class="status-border">
                        <legend class="status-border">Serial Number</legend>
                        <div class="controls">{{serial_number}}</div>
                    </fieldset>
                   </div>
                  <div class="col-xs-3" id="chamber">
                    <fieldset class="status-border">
                        <legend class="status-border">CHAMBER</legend>
                        <div class="controls">{{chamber}}</div>
                    </fieldset>
                  </div>
                  <div class="col-xs-4" id="lid-heater">
                    <fieldset class="status-border">
                        <legend class="status-border">LID HEATER</legend>
                        <div class="controls">{{lid_heater}}  <input class="input-group-text" type="text" name="LID_HEATER"/></div>
                    </fieldset>
                  </div>
                  <div class="col-xs-2" id="total-time">
                    <fieldset class="status-border">
                        <legend class="status-border">Total Time</legend>
                        <div class="controls">{{total_time}}</div>
                    </fieldset>
                  </div>
            </div>
          </div>
        <!--End Status Box -->
        <!-- Table -->
          <div class="table-box">
            <table class="table">
                    <thead>
                    <tr class="table-primary">
                        <th>Label</th>
                        <th>Temp</th>
                        <th>Time</th>
                        <th>Remain</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <!-- if ReadProtocol button click -->
                    </tbody>
            </table>
          </div>
        <!-- Button Box -->
          <div class="btn-box">
            <input type="button" class="btn" value="Start" id="btnStart" onclick="start();"/>
            <input type="button" class="btn" value="Stop" id="btnStop" onclick="stop();" disabled="disabled"/>
            <input type="button" class="btn" value="Read Protocol" id="btnRead" onclick="ReadProtocol();"/>
          </div>
      </div>
  </div>
</body>
</html>