<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>


    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="//unpkg.com/bootstrap@3/dist/css/bootstrap.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- bootstrap javascript -->
    <script type="text/javascript" src={{ url_for('static',  filename='js/bootstrap.js') }}></script>

    <!-- script javascript   -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'main.js') }}"></script>
</head>
<body>
<!-- main container -->
<div class="container">
    <!--  -->
    <div class="container-screen">
        <!--Status Box (Grid)-->
        <div class="row status-box">
            <!-- Serial Number -->
            <div class="col-3 status-box-elements">
                <form>
                    <fieldset class="status-border">
                        <legend>Serial Number</legend>
                        <div class="controls" id="serial-number">{{ serial_number }}</div>
                    </fieldset>
                </form>
            </div>
            <!-- Chamber -->
            <div class="col-3 ">
                <form>
                    <fieldset class="status-border">
                        <legend>CHAMBER</legend>
                        <div class="controls status-box-elements" id="chamber"></div>
                    </fieldset>
                </form>
            </div>
            <!-- LID Heater-->
            <div class="col-3 ">
                <form>
                    <fieldset class="status-border">
                        <legend>LID HEATER</legend>
                        <div class="controls status-box-elements" id="lid-heater">{{ lid_heater }}</div>
                    </fieldset>
                </form>
            </div>
            <!-- total time-->
            <div class="col-3 status-box-elements">
                <form>
                    <fieldset class="status-border">
                        <legend>Total Time</legend>
                        <div class="controls" id="total-time"></div>
                    </fieldset>
                </form>

            </div>
        </div>
        <!-- Table Box -->
        <div class="table-box">
            <table class="table">
                <!-- -->
                <thead>
                <tr class="table-primary">
                    <th>Label</th>
                    <th>Temp</th>
                    <th>Time</th>
                    <th>Remain</th>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        <!-- Button Box -->
        <div class="btn-box">
            <input type="button" class="btn-group btn" value="Start" id="btn-start" onclick="start();"/>
            <input type="button" class="btn-group btn" value="Stop" id="btn-stop" onclick="stop();"/>
            <input type="button" class="btn-group btn btn-right" value="Protocols" id="btn-protocols" onclick="read()"/>
        </div>
    </div>
</div>

<script type="text/javascript">initialized();</script>
<script type="text/javascript">load();</script>
</body>
</html>