<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protocols</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- bootstrap javascript -->
    <script type="text/javascript" src="{{ url_for('static',  filename='js/bootstrap.min.js') }}"></script>

    <!-- script javascript   -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/protocols.js') }}"></script>
</head>


<body>
<div class="container">
    <div class="container-screen" id="screen-middle">
        <div class="table-box">
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th>Protocols</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>

            </table>
        </div>

        <div>
            <input type="button" class="btn-group btn" value="edit" onclick="editProtocol()"/>
            <input type="button" class="btn-group btn" value="new" onclick="newProtocol()"/>
            <input type="button" class="btn-group btn" value="delete" onclick="deleteProtocol()"/>
            <input type="button" class="btn-group btn btn-right" value="back" onclick="history.back()"/>
        </div>

    </div>


</div>

<script type="text/javascript">initialized();</script>
</body>
</html>